  
body{
    background-image: url(https://lh3.googleusercontent.com/proxy/nqrvqCbovr5dxBHfr2uyIHNlVRrRrR6fUmQ_CwfSQk8BsXXOEIsp_Pa4wSmdig6-xfxPea6TDHlwGi9jrn_2O_-UQXeYBp4PWMRzVjzttndc5DY1JBA6KM0562ecYC39jfU-u7mKIjFpxjJC05NIVNodMA);
    height: 100%;
    background: aqua;

}
.page-home{
    display: flex;
    height: 100%;
    width: 100%;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.imgae-male{
    width: 50%;
    display: flex;

    justify-content: center;
    border-right: 1px solid red;
}
.imgae-female{
    width: 50%;
    display: flex;
    justify-content: center;
}
.day1-female{
    display: flex;
    height: 100%;
}
.list-day{
    border-right: 1px solid blue;
    width: 20%;
}
table{
    border: 1px dashed red;
}
.tool{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-image: url(https://image.freepik.com/free-photo/skipping-rope-dumbbells-pair-shoes-with-exercise-mat-yellow-background_23-2147924598.jpg);
    border: 1px solid blue;
    background-size: cover;
}
.food{
    width: 40%;

}
.day-exercise{
    width: 25%;
    border: 1px solid blue;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/33/24/infographics-bright-rainbow-background-list-vector-1873324.jpg);
    background-size: cover;
}
.day-exercise ul{
    list-style: none;
    padding: 0;
}
.day-exercise ul li{
    text-align: center;
    border-bottom: 1px solid aqua;
}
.days{
    text-align: center;
    border-bottom: 1px solid tomato;
}
.days h2{
    color: tomato;
}
#show{
    display: flex;
    border-bottom: 1px solid blue;
}
.btn{
    display: flex;
    justify-content: center;
    padding: 0;
}
.btn button {
    width: 100%;
}
.exercise-image{
    width: 50%;
}
#des{
    width: 50%;
    margin-left: 10px;
}
.content{
    border-bottom: 1px solid burlywood;
  
}
.page{
    width: 75%;
    margin: auto;
    background: aqua;
}